---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About dashuai009"
	pubDate={new Date('August 08 2024')}
>
	<p>
		dashuai009
	</p>

	<p>
		I'm interested in c++ and rust.
	</p>
</Layout>
